.One,
.Two,
.Three,
.Four{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    animation: fadeinout 1s linear forwards;
}
@keyframes fadeinout {
    100% { opacity: 1; }
}